:root {
  --background: rgba(255, 255, 255, 0.15);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #000;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  color: white;
}

.showcase {
  display: grid;
  place-items: center;
  top: 100%;
}
.showcase button {
  border: white solid 1px;
  border-radius: 3px;
  background-color: var(--background);
  padding: 1em 1.6em;
  color: #fff;
  text-transform: uppercase;
}
.showcase button:hover {
  color: #000;
  border: #000 solid 2px;
}
.content {
  height: 100vh;
  background-image: url(self_defense.jpg);
  background-size: cover;
  display: grid;
}
.content h2 {
  font-size: 3rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background: var(--background);
  padding: 10px 1em;
}
.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}
footer p {
  margin: 0;
}
footer {
  padding: 2.2rem;
}
.center {
  text-align: center;
  margin: auto;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.bg-dark {
  background: #333;
  color: #f4f4f4;
}
.video-section {
  margin: 4rem 1rem;
}
/* Navigation Styles */

header {
  background: var(--background);
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.logo {
  height: 90px;
  width: 90px;
  padding: 5px;
}
.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: #fff;
  height: 2px;
  width: 1.5em;
  border-radius: 2px;
  position: relative;
}
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}
.nav-toggle-label span::before {
  bottom: 7px;
}
.nav-toggle-label span::after {
  top: 7px;
}
nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}
nav a:hover {
  color: black;
}

.nav-toggle {
  display: none;
}
.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}
.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}
@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }
  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  .logo {
    grid-column: 2/3;
  }
  nav {
    all: unset;
    grid-column: 3/4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav a {
    opacity: 1;
  }
  nav ul {
    display: flex;
  }
  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }
}
/* form styling */
.form-wrapper {
  max-width: 220px;
}
.form-section form input {
  padding: 1em;
  background-color: var(--background);
  width: 100%;
  border: #333;
  color: #f4f4f4;
}
.form-section form button {
  border: white solid 1px;
  border-radius: 3px;
  background-color: var(--background);
  padding: 1em 1.6em;
  color: #fff;
  text-transform: uppercase;
}
.form-section form button:hover {
  color: #000;
  border: #000 solid 2px;
}
